# Generating all the XGBoost models for all target rows

In [1]:
from xgboost import XGBRegressor
import xgboost as xgb
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [20]:
results = pd.DataFrame(columns=['Model', 'mse', 'mae', 'rmse', 'mape', 'r2']).dropna()
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import root_mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.metrics import r2_score


def appendError(model, testy, y_pred):
    # model_name = str(type(model).__name__)
    mse = mean_squared_error(testy, y_pred)
    mae = mean_absolute_error(testy, y_pred)
    rmse = root_mean_squared_error(testy, y_pred)
    mape = mean_absolute_percentage_error(testy, y_pred)
    r2 = r2_score(testy, y_pred)
    return pd.DataFrame([{
        'Model': model,
        'mse': mse, 
        'mae': mae, 
        'rmse': rmse, 
        'mape': mape, 
        'r2': r2
    }])

In [19]:
scaler = StandardScaler()
specs = ["dart", "exact", 5, 3]

In [2]:
data = pd.read_csv('data/set.csv').drop(columns=['DateTime'])

In [11]:
targets = data.columns[:5]

In [18]:
data_train, data_test = train_test_split(data, test_size=.2)

In [26]:
for i in targets:
    X_train = scaler.fit_transform(data_train.drop(i, axis=1))
    print(data_train.drop(i, axis=1).columns)
    y_train = data_train[i]
    X_test = scaler.fit_transform(data_test.drop(i, axis=1))
    y_test = data_test[i]
    bst = XGBRegressor(booster=specs[0], tree_method=specs[1], max_depth=specs[2], gamma=specs[3])
    bst.fit(X_test, y_test)
    preds = bst.predict(X_test)
    results = pd.concat([results, appendError(i, y_test, preds)])
    # bst.save_model('models/'+i+'.ubj')

Index(['PT08.S2(NMHC)', 'PT08.S3(NOx)', 'PT08.S4(NO2)', 'PT08.S5(O3)', 'T',
       'RH', 'AH', 'datetimestamp'],
      dtype='object')
Index(['PT08.S1(CO)', 'PT08.S3(NOx)', 'PT08.S4(NO2)', 'PT08.S5(O3)', 'T', 'RH',
       'AH', 'datetimestamp'],
      dtype='object')
Index(['PT08.S1(CO)', 'PT08.S2(NMHC)', 'PT08.S4(NO2)', 'PT08.S5(O3)', 'T',
       'RH', 'AH', 'datetimestamp'],
      dtype='object')
Index(['PT08.S1(CO)', 'PT08.S2(NMHC)', 'PT08.S3(NOx)', 'PT08.S5(O3)', 'T',
       'RH', 'AH', 'datetimestamp'],
      dtype='object')
Index(['PT08.S1(CO)', 'PT08.S2(NMHC)', 'PT08.S3(NOx)', 'PT08.S4(NO2)', 'T',
       'RH', 'AH', 'datetimestamp'],
      dtype='object')

In [27]:
results

           Model         mse        mae       rmse      mape        r2
0    PT08.S1(CO)  104.649933   7.534527  10.229855  0.007035  0.997129
0  PT08.S2(NMHC)   85.274396   6.893318   9.234414  0.007737  0.998483
0   PT08.S3(NOx)   69.915886   6.244679   8.361572  0.007946  0.998343
0   PT08.S4(NO2)   83.413048   6.740943   9.133074  0.004824  0.999168
0    PT08.S5(O3)  779.389119  20.800251  27.917541  0.022955  0.993656
0    PT08.S1(CO)  104.649933   7.534527  10.229855  0.007035  0.997129
0  PT08.S2(NMHC)   85.274396   6.893318   9.234414  0.007737  0.998483
0   PT08.S3(NOx)   69.915886   6.244679   8.361572  0.007946  0.998343
0   PT08.S4(NO2)   83.413048   6.740943   9.133074  0.004824  0.999168
0    PT08.S5(O3)  779.389119  20.800251  27.917541  0.022955  0.993656
0    PT08.S1(CO)  104.649933   7.534527  10.229855  0.007035  0.997129
0  PT08.S2(NMHC)   85.274396   6.893318   9.234414  0.007737  0.998483
0   PT08.S3(NOx)   69.915886   6.244679   8.361572  0.007946  0.998343
0   PT08.S4(NO2)   83.413048   6.740943   9.133074  0.004824  0.999168
0    PT08.S5(O3)  779.389119  20.800251  27.917541  0.022955  0.993656

In [28]:
results.head(5)

           Model         mse        mae       rmse      mape        r2
0    PT08.S1(CO)  104.649933   7.534527  10.229855  0.007035  0.997129
0  PT08.S2(NMHC)   85.274396   6.893318   9.234414  0.007737  0.998483
0   PT08.S3(NOx)   69.915886   6.244679   8.361572  0.007946  0.998343
0   PT08.S4(NO2)   83.413048   6.740943   9.133074  0.004824  0.999168
0    PT08.S5(O3)  779.389119  20.800251  27.917541  0.022955  0.993656

In [36]:
co = xgb.XGBRegressor()
co.load_model('models/PT08.S1(CO).ubj')

In [40]:
predes = co.predict(scaler.fit_transform(pd.DataFrame({
    'PT08.S2(NMHC)': [1743.000000],
    'PT08.S3(NOx)': [1502.000000],
    'PT08.S4(NO2)': [2299.000000],
    'PT08.S5(O3)': [2032.000000],
    'T': [44.600000],
    'RH': [88.700000],
    'AH': [2.231000],
    'datetimestamp': [309962]
})))
predes

array([1017.15784], dtype=float32)

In [38]:
data.describe()

,PT08.S1(CO),PT08.S2(NMHC),PT08.S3(NOx),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,datetimestamp
count,8445.000000,8445.000000,8445.000000,8445.000000,8445.000000,8445.000000,8445.000000,8445.000000,8445.000000
mean,1092.359029,932.434458,821.057312,1447.627709,1011.712729,18.549378,49.010456,1.032656,304382.688928
std,193.107070,237.381881,209.249129,319.833186,355.629559,8.911049,17.501173,0.404614,2695.977498
min,667.000000,440.000000,360.000000,605.000000,288.000000,-1.900000,9.200000,0.186200,299706.000000
25%,942.000000,745.000000,667.000000,1236.000000,744.000000,12.000000,35.300000,0.741700,302078.000000
50%,1063.000000,909.000000,805.000000,1464.000000,964.000000,18.000000,49.200000,1.004100,304330.000000
75%,1217.000000,1100.000000,955.000000,1663.000000,1248.000000,24.700000,62.600000,1.321900,306735.000000
max,1642.000000,1643.000000,1402.000000,2299.000000,2032.000000,44.600000,88.700000,2.231000,309062.000000